USE [p5g6]
GO
/****** Object:  User [p5g6]    Script Date: 11-Jun-18 11:48:26 PM ******/
CREATE USER [p5g6] FOR LOGIN [p5g6] WITH DEFAULT_SCHEMA=[dbo]
GO
/****** Object:  User [test]    Script Date: 11-Jun-18 11:48:26 PM ******/
CREATE USER [test] FOR LOGIN [test] WITH DEFAULT_SCHEMA=[dbo]
GO
ALTER ROLE [db_owner] ADD MEMBER [p5g6]
GO
/****** Object:  Schema [VACAS]    Script Date: 11-Jun-18 11:48:26 PM ******/
CREATE SCHEMA [VACAS]
GO
/****** Object:  UserDefinedFunction [VACAS].[RENDIMENTO_LEITE]    Script Date: 11-Jun-18 11:48:26 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [VACAS].[RENDIMENTO_LEITE]() RETURNS DECIMAL(10,2)
AS
BEGIN 
	DECLARE @total decimal(10,2)
	SELECT @total = SUM(PRODUCAO_MANHA*PRECO + PRODUCAO_TARDE*PRECO) FROM VACAS.PRODUCAO_LEITE JOIN VACAS.VENDA_LEITE ON PRODUCAO_LEITE.PRODUTOR=VENDA_LEITE.PRODUTOR JOIN VACAS.FABRICA_LEITE ON FABRICA = NOME
	return @total
END
GO
/****** Object:  Table [VACAS].[ANIMAL]    Script Date: 11-Jun-18 11:48:26 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [VACAS].[ANIMAL](
	[NR_ANIMAL] [int] NOT NULL,
	[PRODUTOR] [int] NOT NULL,
	[PROGENITOR_MASC] [int] NULL,
	[PROGENITOR_FEM] [int] NULL,
	[ESTADO_VACINA] [varchar](20) NULL,
	[ESTADO_ANÁLISES] [varchar](20) NULL,
	[NOME] [varchar](20) NULL,
	[DATA_NASCIMENTO] [varchar](20) NULL,
PRIMARY KEY CLUSTERED 
(
	[NR_ANIMAL] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [VACAS].[BOI]    Script Date: 11-Jun-18 11:48:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [VACAS].[BOI](
	[NR_ANIMAL] [int] NOT NULL,
	[RACA] [varchar](30) NOT NULL,
	[PRECO] [decimal](10, 2) NULL,
PRIMARY KEY CLUSTERED 
(
	[NR_ANIMAL] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [VACAS].[COMPRA]    Script Date: 11-Jun-18 11:48:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [VACAS].[COMPRA](
	[NR_COMPRA] [int] NOT NULL,
	[NR_ANIMAL] [int] NOT NULL,
	[VENDEDOR] [int] NOT NULL,
	[COMPRADOR] [int] NULL,
	[MONTANTE] [decimal](10, 2) NOT NULL,
	[DATA] [date] NOT NULL,
	[DESTINO] [varchar](10) NULL,
PRIMARY KEY CLUSTERED 
(
	[NR_COMPRA] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [VACAS].[COMPRADOR]    Script Date: 11-Jun-18 11:48:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [VACAS].[COMPRADOR](
	[NIF] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[NIF] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [VACAS].[FABRICA_LEITE]    Script Date: 11-Jun-18 11:48:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [VACAS].[FABRICA_LEITE](
	[NOME] [varchar](20) NOT NULL,
	[PRECO] [decimal](5, 2) NOT NULL,
	[LOCALIDADE] [varchar](30) NULL,
PRIMARY KEY CLUSTERED 
(
	[NOME] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [VACAS].[PESSOA]    Script Date: 11-Jun-18 11:48:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [VACAS].[PESSOA](
	[NIF] [int] NOT NULL,
	[NOME] [varchar](50) NOT NULL,
	[SEXO] [char](1) NULL,
	[LOCALIDADE] [varchar](50) NULL,
	[DATA_NASCIMENTO] [date] NULL,
	[TELEFONE] [int] NOT NULL,
	[EMAIL] [varchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[NIF] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [VACAS].[PRODUCAO_LEITE]    Script Date: 11-Jun-18 11:48:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [VACAS].[PRODUCAO_LEITE](
	[PRODUTOR] [int] NOT NULL,
	[PRODUCAO_MANHA] [decimal](10, 2) NULL,
	[PRODUCAO_TARDE] [decimal](10, 2) NULL,
	[DATA_PRODUCAO] [varchar](10) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [VACAS].[PRODUTOR]    Script Date: 11-Jun-18 11:48:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [VACAS].[PRODUTOR](
	[NR_PRODUTOR] [int] NOT NULL,
	[NIF] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[NR_PRODUTOR] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [VACAS].[RACA]    Script Date: 11-Jun-18 11:48:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [VACAS].[RACA](
	[NOME] [varchar](30) NOT NULL,
	[COR] [varchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[NOME] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [VACAS].[VACA]    Script Date: 11-Jun-18 11:48:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [VACAS].[VACA](
	[NR_ANIMAL] [int] NOT NULL,
	[RACA] [varchar](30) NOT NULL,
	[TIPO_VACA] [varchar](10) NOT NULL,
	[PRECO] [decimal](10, 2) NULL,
PRIMARY KEY CLUSTERED 
(
	[NR_ANIMAL] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [VACAS].[VACINACAO]    Script Date: 11-Jun-18 11:48:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [VACAS].[VACINACAO](
	[NR_VACINA] [int] NOT NULL,
	[NR_ANIMAL] [int] NOT NULL,
	[NR_VETERINARIO] [int] NOT NULL,
	[NOME] [varchar](30) NOT NULL,
	[DATA] [date] NOT NULL,
	[LOCAL] [varchar](20) NULL,
PRIMARY KEY CLUSTERED 
(
	[NR_VACINA] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [VACAS].[VENDA]    Script Date: 11-Jun-18 11:48:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [VACAS].[VENDA](
	[NR_VENDA] [int] NOT NULL,
	[NR_ANIMAL] [int] NOT NULL,
	[VENDEDOR] [int] NOT NULL,
	[COMPRADOR] [int] NULL,
	[MONTANTE] [decimal](10, 2) NOT NULL,
	[DATA] [date] NOT NULL,
	[DESTINO] [varchar](10) NULL,
PRIMARY KEY CLUSTERED 
(
	[NR_VENDA] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [VACAS].[VENDA_LEITE]    Script Date: 11-Jun-18 11:48:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [VACAS].[VENDA_LEITE](
	[PRODUTOR] [int] NOT NULL,
	[FABRICA] [varchar](20) NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [VACAS].[VENDEDOR]    Script Date: 11-Jun-18 11:48:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [VACAS].[VENDEDOR](
	[NIF] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[NIF] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [VACAS].[VETERINARIO]    Script Date: 11-Jun-18 11:48:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [VACAS].[VETERINARIO](
	[NR_VETERINARIO] [int] NOT NULL,
	[NIF] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[NR_VETERINARIO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [VACAS].[ANIMAL]  WITH CHECK ADD FOREIGN KEY([PRODUTOR])
REFERENCES [VACAS].[PRODUTOR] ([NR_PRODUTOR])
GO
ALTER TABLE [VACAS].[ANIMAL]  WITH CHECK ADD FOREIGN KEY([PROGENITOR_MASC])
REFERENCES [VACAS].[ANIMAL] ([NR_ANIMAL])
GO
ALTER TABLE [VACAS].[ANIMAL]  WITH CHECK ADD FOREIGN KEY([PROGENITOR_FEM])
REFERENCES [VACAS].[ANIMAL] ([NR_ANIMAL])
GO
ALTER TABLE [VACAS].[BOI]  WITH CHECK ADD FOREIGN KEY([NR_ANIMAL])
REFERENCES [VACAS].[ANIMAL] ([NR_ANIMAL])
GO
ALTER TABLE [VACAS].[BOI]  WITH CHECK ADD FOREIGN KEY([RACA])
REFERENCES [VACAS].[RACA] ([NOME])
GO
ALTER TABLE [VACAS].[COMPRA]  WITH CHECK ADD FOREIGN KEY([COMPRADOR])
REFERENCES [VACAS].[COMPRADOR] ([NIF])
GO
ALTER TABLE [VACAS].[COMPRA]  WITH CHECK ADD FOREIGN KEY([NR_ANIMAL])
REFERENCES [VACAS].[ANIMAL] ([NR_ANIMAL])
GO
ALTER TABLE [VACAS].[COMPRA]  WITH CHECK ADD FOREIGN KEY([VENDEDOR])
REFERENCES [VACAS].[VENDEDOR] ([NIF])
GO
ALTER TABLE [VACAS].[COMPRADOR]  WITH CHECK ADD FOREIGN KEY([NIF])
REFERENCES [VACAS].[PESSOA] ([NIF])
GO
ALTER TABLE [VACAS].[PRODUCAO_LEITE]  WITH CHECK ADD FOREIGN KEY([PRODUTOR])
REFERENCES [VACAS].[PRODUTOR] ([NR_PRODUTOR])
GO
ALTER TABLE [VACAS].[PRODUTOR]  WITH CHECK ADD FOREIGN KEY([NIF])
REFERENCES [VACAS].[PESSOA] ([NIF])
GO
ALTER TABLE [VACAS].[VACA]  WITH CHECK ADD FOREIGN KEY([NR_ANIMAL])
REFERENCES [VACAS].[ANIMAL] ([NR_ANIMAL])
GO
ALTER TABLE [VACAS].[VACA]  WITH CHECK ADD FOREIGN KEY([RACA])
REFERENCES [VACAS].[RACA] ([NOME])
GO
ALTER TABLE [VACAS].[VACINACAO]  WITH CHECK ADD FOREIGN KEY([NR_ANIMAL])
REFERENCES [VACAS].[ANIMAL] ([NR_ANIMAL])
GO
ALTER TABLE [VACAS].[VACINACAO]  WITH CHECK ADD FOREIGN KEY([NR_VETERINARIO])
REFERENCES [VACAS].[VETERINARIO] ([NR_VETERINARIO])
GO
ALTER TABLE [VACAS].[VENDA]  WITH CHECK ADD FOREIGN KEY([COMPRADOR])
REFERENCES [VACAS].[COMPRADOR] ([NIF])
GO
ALTER TABLE [VACAS].[VENDA]  WITH CHECK ADD FOREIGN KEY([NR_ANIMAL])
REFERENCES [VACAS].[ANIMAL] ([NR_ANIMAL])
GO
ALTER TABLE [VACAS].[VENDA]  WITH CHECK ADD FOREIGN KEY([VENDEDOR])
REFERENCES [VACAS].[VENDEDOR] ([NIF])
GO
ALTER TABLE [VACAS].[VENDA_LEITE]  WITH CHECK ADD FOREIGN KEY([FABRICA])
REFERENCES [VACAS].[FABRICA_LEITE] ([NOME])
GO
ALTER TABLE [VACAS].[VENDA_LEITE]  WITH CHECK ADD FOREIGN KEY([PRODUTOR])
REFERENCES [VACAS].[PRODUTOR] ([NR_PRODUTOR])
GO
ALTER TABLE [VACAS].[VENDEDOR]  WITH CHECK ADD FOREIGN KEY([NIF])
REFERENCES [VACAS].[PESSOA] ([NIF])
GO
ALTER TABLE [VACAS].[VETERINARIO]  WITH CHECK ADD FOREIGN KEY([NIF])
REFERENCES [VACAS].[PESSOA] ([NIF])
GO
/****** Object:  StoredProcedure [VACAS].[ADD_BOI]    Script Date: 11-Jun-18 11:48:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [VACAS].[ADD_BOI] @nrAnimal INT, @nome VARCHAR(20), @produtor int, @progenitorMasc int,
@progenitorFem int, @preco int, @raca varchar(30), @dataNasc date, @estadoVacina varchar(20),
@estadoAnalises varchar(20)
AS 
INSERT INTO VACAS.ANIMAL (NR_ANIMAL, NOME, PRODUTOR, PROGENITOR_MASC, PROGENITOR_FEM,
DATA_NASCIMENTO, ESTADO_VACINA, ESTADO_ANÁLISES) VALUES (@nrAnimal, @nome, @produtor, @progenitorMasc, @progenitorFem,
@dataNasc, @estadoVacina, @estadoAnalises);
INSERT INTO VACAS.BOI(NR_ANIMAL, RACA, PRECO) VALUES (@nrAnimal, @raca, @preco);
RETURN @@ROWCOUNT
GO
/****** Object:  StoredProcedure [VACAS].[ADD_COMPRA_VACA]    Script Date: 11-Jun-18 11:48:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [VACAS].[ADD_COMPRA_VACA] @nr_animal int, 
@vendedor int, @montante int, @data varchar(20), @destino varchar(50) 
AS
DECLARE @index INT
SET @index = (SELECT COUNT(*) FROM VACAS.COMPRA)
INSERT INTO VACAS.ANIMAL(NR_ANIMAL,PRODUTOR)
VALUES (@nr_animal,1)
INSERT INTO VACAS.COMPRA(NR_COMPRA,NR_ANIMAL,VENDEDOR,COMPRADOR,MONTANTE,DATA,DESTINO) 
VALUES (@index+1, @nr_animal, @vendedor, 14699398, @montante, @data,@destino);


INSERT INTO VACAS.VACA (NR_ANIMAL, RACA, TIPO_VACA) 
VALUES (@nr_animal, 'Não definida', ' ')
RETURN @@ROWCOUNT
GO
/****** Object:  StoredProcedure [VACAS].[ADD_COMPRADOR]    Script Date: 11-Jun-18 11:48:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [VACAS].[ADD_COMPRADOR] @nif INT, @nome varchar(50), 
@sexo char(1), @localidade VARCHAR(50), @data varchar(20),@telefone int, @email varchar(50) 
AS
INSERT INTO VACAS.PESSOA(NIF, NOME, SEXO,LOCALIDADE,DATA_NASCIMENTO,TELEFONE,EMAIL) 
VALUES (@nif, @nome, @sexo, @localidade, @data,@telefone, @email);
INSERT INTO VACAS.COMPRADOR(NIF) 
VALUES (@nif)
RETURN @@ROWCOUNT
GO
/****** Object:  StoredProcedure [VACAS].[ADD_PRODUCAO_LEITE]    Script Date: 11-Jun-18 11:48:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- ADICIONAR PRODUÇAO DE LEITE
CREATE PROCEDURE [VACAS].[ADD_PRODUCAO_LEITE] @produtor INT, @producao_manha INT, 
@producao_tarde INT, @data VARCHAR(20) 
AS 
INSERT INTO VACAS.PRODUCAO_LEITE(PRODUTOR, PRODUCAO_MANHA, PRODUCAO_TARDE,
DATA_PRODUCAO) VALUES (@produtor, @producao_manha, @producao_tarde,@data);
RETURN @@ROWCOUNT
GO
/****** Object:  StoredProcedure [VACAS].[ADD_VACA]    Script Date: 11-Jun-18 11:48:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [VACAS].[ADD_VACA] @nrAnimal INT, @nome VARCHAR(20), @produtor int, @progenitorMasc int,
@progenitorFem int, @preco int, @raca varchar(30), @dataNasc date, @estadoVacina varchar(20),
@estadoAnalises varchar(20), @tipoVaca varchar(10)
AS 
INSERT INTO VACAS.ANIMAL (NR_ANIMAL, NOME, PRODUTOR, PROGENITOR_MASC, PROGENITOR_FEM,
DATA_NASCIMENTO, ESTADO_VACINA, ESTADO_ANÁLISES) VALUES (@nrAnimal, @nome, @produtor, @progenitorMasc, @progenitorFem,
@dataNasc, @estadoVacina, @estadoAnalises);
INSERT INTO VACAS.VACA (NR_ANIMAL, TIPO_VACA, RACA) VALUES (@nrAnimal, @tipoVaca, @raca);
RETURN @@ROWCOUNT
GO
/****** Object:  StoredProcedure [VACAS].[ADD_VACINACAO]    Script Date: 11-Jun-18 11:48:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [VACAS].[ADD_VACINACAO] @nr_animal int, 
@nr_veterinario int, @nome VARCHAR(50), @data varchar(20),@local varchar(50)
AS
DECLARE @index INT
SET @index = (SELECT COUNT(*) FROM VACAS.VACINACAO)
INSERT INTO VACAS.VACINACAO(NR_VACINA, NR_ANIMAL,NR_VETERINARIO,NOME,DATA,LOCAL) 
VALUES (@index+1, @nr_animal, @nr_veterinario, @nome, @data, @local);

UPDATE VACAS.ANIMAL SET VACAS.ANIMAL.ESTADO_VACINA = 'Vacinado'
WHERE VACAS.ANIMAL.NR_ANIMAL = @nr_animal

RETURN @@ROWCOUNT
GO
/****** Object:  StoredProcedure [VACAS].[ADD_VENDA]    Script Date: 11-Jun-18 11:48:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [VACAS].[ADD_VENDA] @nrAnimal INT, @nif INT, @montante INT, @data DATE, 
@destino VARCHAR(20)
AS
DECLARE @index INT
SET @index = (SELECT COUNT(*) FROM VACAS.VENDA)
INSERT INTO VACAS.VENDA (NR_VENDA,VENDEDOR, MONTANTE, DATA, DESTINO, NR_ANIMAL, COMPRADOR) VALUES (@index+1, 14699398, @montante,
@data, @destino, @nrAnimal, @nif)

--DELETE FROM VACAS.VACA WHERE NR_ANIMAL = @nrAnimal
--DELETE FROM VACAS.ANIMAL WHERE NR_ANIMAL = @nrAnimal
RETURN @@ROWCOUNT
GO
/****** Object:  StoredProcedure [VACAS].[ADD_VENDEDOR]    Script Date: 11-Jun-18 11:48:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- ADICIONAR COMPRADOR
CREATE PROCEDURE [VACAS].[ADD_VENDEDOR] @nif INT, @nome varchar(50), 
@sexo char(1), @localidade VARCHAR(50), @data varchar(20),@telefone int, @email varchar(50) 
AS
INSERT INTO VACAS.PESSOA(NIF, NOME, SEXO,LOCALIDADE,DATA_NASCIMENTO,EMAIL, TELEFONE) 
VALUES (@nif, @nome, @sexo, @localidade, @data, @email, @telefone);
INSERT INTO VACAS.VENDEDOR(NIF) 
VALUES (@nif)
RETURN @@ROWCOUNT
GO
/****** Object:  StoredProcedure [VACAS].[ANIMALS]    Script Date: 11-Jun-18 11:48:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [VACAS].[ANIMALS]
AS 
SELECT * FROM VACAS.ANIMAL
GO
/****** Object:  StoredProcedure [VACAS].[EDITAR_BOI]    Script Date: 11-Jun-18 11:48:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [VACAS].[EDITAR_BOI] @nrAnimal INT, @nome VARCHAR(20), @produtor int, @progenitorMasc int,
@progenitorFem int, @preco int, @raca varchar(30), @dataNasc date, @estadoVacina varchar(20),
@estadoAnalises varchar(20)
AS
UPDATE VACAS.ANIMAL SET NOME = @nome, PRODUTOR = @produtor, PROGENITOR_MASC = @progenitorMasc, 
PROGENITOR_FEM = @progenitorFem, DATA_NASCIMENTO = @dataNasc, ESTADO_VACINA = @estadoVacina, 
ESTADO_ANÁLISES = @estadoAnalises
WHERE VACAS.ANIMAL.NR_ANIMAL = @nrAnimal
UPDATE VACAS.BOI SET RACA = @raca, PRECO = @preco
WHERE NR_ANIMAL = @nrAnimal
RETURN @@ROWCOUNT
GO
/****** Object:  StoredProcedure [VACAS].[EDITAR_COMPRA]    Script Date: 11-Jun-18 11:48:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [VACAS].[EDITAR_COMPRA] @nr_compra int, @nr_animal int, 
@vendedor int, @montante int, @data varchar(20), @destino varchar(50) 
AS
UPDATE VACAS.COMPRA SET VENDEDOR = @vendedor, MONTANTE = @montante, [DATA] = @data, DESTINO = @destino
WHERE VACAS.COMPRA.NR_COMPRA = @nr_compra

RETURN @@ROWCOUNT
GO
/****** Object:  StoredProcedure [VACAS].[EDITAR_COMPRADOR]    Script Date: 11-Jun-18 11:48:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- EDITAR COMPRADOR
CREATE PROCEDURE [VACAS].[EDITAR_COMPRADOR] @nif INT, @nome varchar(50), 
@sexo char(1), @localidade VARCHAR(50), @data varchar(20),@telefone int, @email varchar(50)
AS
UPDATE VACAS.PESSOA SET NIF = @nif, NOME = @nome, SEXO = @sexo, LOCALIDADE = @localidade, DATA_NASCIMENTO = @data, TELEFONE = @telefone, EMAIL = @email  
WHERE VACAS.PESSOA.NIF = @nif
UPDATE VACAS.COMPRADOR SET NIF = @nif
RETURN @@ROWCOUNT
GO
/****** Object:  StoredProcedure [VACAS].[EDITAR_PRODUCAO_LEITE]    Script Date: 11-Jun-18 11:48:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- EDITAR PRODUÇAO DE LEITE
CREATE PROCEDURE [VACAS].[EDITAR_PRODUCAO_LEITE] @produtor INT, @producao_manha INT, 
@producao_tarde INT, @data VARCHAR(20)
AS
UPDATE VACAS.PRODUCAO_LEITE SET PRODUTOR = @produtor, PRODUCAO_MANHA = @producao_manha, 
PRODUCAO_TARDE = @producao_tarde, DATA_PRODUCAO = @data
WHERE VACAS.PRODUCAO_LEITE.DATA_PRODUCAO = @data

RETURN @@ROWCOUNT
GO
/****** Object:  StoredProcedure [VACAS].[EDITAR_VACA]    Script Date: 11-Jun-18 11:48:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [VACAS].[EDITAR_VACA] @nrAnimal INT, @nome VARCHAR(20), @produtor int, @progenitorMasc int,
@progenitorFem int, @preco int, @raca varchar(30), @dataNasc date, @estadoVacina varchar(20),
@estadoAnalises varchar(20), @tipoVaca varchar(10)
AS
UPDATE VACAS.ANIMAL SET NOME = @nome, PRODUTOR = @produtor, PROGENITOR_MASC = @progenitorMasc, 
PROGENITOR_FEM = @progenitorFem, DATA_NASCIMENTO = @dataNasc, ESTADO_VACINA = @estadoVacina, 
ESTADO_ANÁLISES = @estadoAnalises
WHERE VACAS.ANIMAL.NR_ANIMAL = @nrAnimal
UPDATE VACAS.VACA SET RACA = @raca, TIPO_VACA = @tipoVaca, PRECO = @preco
WHERE NR_ANIMAL = @nrAnimal
RETURN @@ROWCOUNT
GO
/****** Object:  StoredProcedure [VACAS].[EDITAR_VACINACAO]    Script Date: 11-Jun-18 11:48:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [VACAS].[EDITAR_VACINACAO] @nr_vacina INT, @nr_animal int, 
@nr_veterinario int, @nome VARCHAR(50), @data varchar(20),@local varchar(50)
AS

UPDATE VACAS.VACINACAO SET NR_VACINA = @nr_vacina, NR_ANIMAL = @nr_animal, NOME = @nome,
DATA = @data , LOCAL = @locaL 
WHERE VACAS.VACINACAO.NR_VACINA = @nr_vacina


RETURN @@ROWCOUNT
GO
/****** Object:  StoredProcedure [VACAS].[EDITAR_VENDA]    Script Date: 11-Jun-18 11:48:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [VACAS].[EDITAR_VENDA]  @nr_compra int, @nr_animal int, 
@comprador int, @montante int, @data varchar(20), @destino varchar(50) 
AS
UPDATE VACAS.VENDA SET NR_VENDA = @nr_compra, NR_ANIMAL = @nr_animal, COMPRADOR = @comprador, MONTANTE = @montante, DATA = @data, DESTINO = @destino
WHERE VACAS.VENDA.NR_VENDA = @nr_compra
RETURN @@ROWCOUNT
GO
/****** Object:  StoredProcedure [VACAS].[EDITAR_VENDEDOR]    Script Date: 11-Jun-18 11:48:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- EDITAR COMPRADOR
CREATE PROCEDURE [VACAS].[EDITAR_VENDEDOR] @nif INT, @nome varchar(50), 
@sexo char(1), @localidade VARCHAR(50), @data varchar(20),@telefone int, @email varchar(50)
AS
UPDATE VACAS.PESSOA SET NIF = @nif, NOME = @nome, SEXO = @sexo, LOCALIDADE = @localidade, DATA_NASCIMENTO = @data, TELEFONE = @telefone, EMAIL = @email  
WHERE VACAS.PESSOA.NIF = @nif
UPDATE VACAS.VENDEDOR SET NIF = @nif
RETURN @@ROWCOUNT
GO
/****** Object:  StoredProcedure [VACAS].[REMOVE_VACA]    Script Date: 11-Jun-18 11:48:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [VACAS].[REMOVE_VACA] @nrAnimal INT
AS
DELETE FROM VACAS.VACA WHERE NR_ANIMAL = @nrAnimal
DELETE FROM VACAS.ANIMAL WHERE NR_ANIMAL = @nrAnimal
RETURN @@ROWCOUNT
GO
/****** Object:  StoredProcedure [VACAS].[REMOVER_COMPRA]    Script Date: 11-Jun-18 11:48:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [VACAS].[REMOVER_COMPRA] @nr_compra int
AS
BEGIN
DELETE FROM COMPRA WHERE NR_COMPRA = @nr_compra
END
RETURN @@ROWCOUNT
GO
/****** Object:  StoredProcedure [VACAS].[REMOVER_COMPRADOR]    Script Date: 11-Jun-18 11:48:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [VACAS].[REMOVER_COMPRADOR] @nif INT
AS
BEGIN
DELETE FROM COMPRADOR WHERE NIF = @nif
DELETE FROM PESSOA WHERE NIF = @nif
END
RETURN @@ROWCOUNT
GO
/****** Object:  StoredProcedure [VACAS].[REMOVER_PRODUCAO_LEITE]    Script Date: 11-Jun-18 11:48:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


-- REMOVER PRODUÇAO DE LEITE
CREATE PROCEDURE [VACAS].[REMOVER_PRODUCAO_LEITE] @produtor INT, @producao_manha INT, 
@producao_tarde INT, @data VARCHAR(20)
AS
BEGIN
DELETE FROM PRODUCAO_LEITE WHERE DATA_PRODUCAO = @data
END
RETURN @@ROWCOUNT
GO
/****** Object:  StoredProcedure [VACAS].[REMOVER_VACINACAO]    Script Date: 11-Jun-18 11:48:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [VACAS].[REMOVER_VACINACAO] @nr_vacina int, @nr_animal int
AS
BEGIN
DELETE FROM VACINACAO WHERE NR_VACINA = @nr_vacina

UPDATE VACAS.ANIMAL SET ESTADO_VACINA = NULL
WHERE VACAS.ANIMAL.NR_ANIMAL = @nr_animal
END
RETURN @@ROWCOUNT
GO
/****** Object:  StoredProcedure [VACAS].[REMOVER_VENDA]    Script Date: 11-Jun-18 11:48:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [VACAS].[REMOVER_VENDA] @nr_venda int 
AS
BEGIN
DELETE FROM VENDA WHERE NR_VENDA = @nr_venda

END
RETURN @@ROWCOUNT
GO
/****** Object:  StoredProcedure [VACAS].[REMOVER_VENDEDOR]    Script Date: 11-Jun-18 11:48:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- REMOVER COMPRADOR
CREATE PROCEDURE [VACAS].[REMOVER_VENDEDOR] @nif INT
AS
BEGIN
DELETE FROM VENDEDOR WHERE NIF = @nif
DELETE FROM PESSOA WHERE NIF = @nif
END
RETURN @@ROWCOUNT
GO
/****** Object:  StoredProcedure [VACAS].[VER_COMPRADOR]    Script Date: 11-Jun-18 11:48:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [VACAS].[VER_COMPRADOR]
AS
SELECT VACAS.PESSOA.NIF, VACAS.PESSOA.NOME, VACAS.PESSOA.SEXO, VACAS.PESSOA.LOCALIDADE, VACAS.PESSOA.DATA_NASCIMENTO, VACAS.PESSOA.TELEFONE, VACAS.PESSOA.EMAIL FROM VACAS.PESSOA JOIN VACAS.COMPRADOR ON VACAS.PESSOA.NIF = VACAS.COMPRADOR.NIF
RETURN @@ROWCOUNT
GO
/****** Object:  StoredProcedure [VACAS].[VER_COMPRAS]    Script Date: 11-Jun-18 11:48:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [VACAS].[VER_COMPRAS]
AS
SELECT * FROM VACAS.COMPRA
RETURN @@ROWCOUNT
GO
/****** Object:  StoredProcedure [VACAS].[VER_PRODUCAO_LEITE]    Script Date: 11-Jun-18 11:48:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [VACAS].[VER_PRODUCAO_LEITE]
AS
SELECT VACAS.PRODUCAO_LEITE.PRODUTOR, VACAS.PRODUCAO_LEITE.PRODUCAO_MANHA, VACAS.PRODUCAO_LEITE.PRODUCAO_TARDE, VACAS.PRODUCAO_LEITE.DATA_PRODUCAO,
VACAS.FABRICA_LEITE.NOME, VACAS.FABRICA_LEITE.PRECO
FROM VACAS.PRODUCAO_LEITE 
join VACAS.VENDA_LEITE on VACAS.PRODUCAO_LEITE.PRODUTOR = VACAS.VENDA_LEITE.PRODUTOR 
inner join VACAS.FABRICA_LEITE on VACAS.VENDA_LEITE.FABRICA = VACAS.FABRICA_LEITE.NOME
RETURN @@ROWCOUNT
GO
/****** Object:  StoredProcedure [VACAS].[VER_VACINACAO]    Script Date: 11-Jun-18 11:48:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [VACAS].[VER_VACINACAO]
AS
SELECT * FROM VACAS.VACINACAO JOIN VACAS.ANIMAL ON VACINACAO.NR_ANIMAL = ANIMAL.NR_ANIMAL 
RETURN @@ROWCOUNT
GO
/****** Object:  StoredProcedure [VACAS].[VER_VENDAS]    Script Date: 11-Jun-18 11:48:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [VACAS].[VER_VENDAS]
AS
SELECT * FROM VACAS.VENDA
RETURN @@ROWCOUNT
GO
/****** Object:  StoredProcedure [VACAS].[VER_VENDEDOR]    Script Date: 11-Jun-18 11:48:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [VACAS].[VER_VENDEDOR]
AS
SELECT VACAS.PESSOA.NIF, VACAS.PESSOA.NOME, VACAS.PESSOA.SEXO, VACAS.PESSOA.LOCALIDADE, VACAS.PESSOA.DATA_NASCIMENTO, VACAS.PESSOA.TELEFONE, VACAS.PESSOA.EMAIL FROM VACAS.PESSOA JOIN VACAS.VENDEDOR ON VACAS.PESSOA.NIF = VACAS.VENDEDOR.NIF
RETURN @@ROWCOUNT
GO
/****** Object:  StoredProcedure [VACAS].[VERBOIS]    Script Date: 11-Jun-18 11:48:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [VACAS].[VERBOIS]
AS 
SELECT * FROM VACAS.ANIMAL JOIN VACAS.BOI ON ANIMAL.NR_ANIMAL = BOI.NR_ANIMAL
GO
/****** Object:  StoredProcedure [VACAS].[VERVACAS]    Script Date: 11-Jun-18 11:48:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [VACAS].[VERVACAS]
AS 
SELECT * FROM VACAS.ANIMAL JOIN VACAS.VACA ON ANIMAL.NR_ANIMAL = vaca.NR_ANIMAL
GO
